h1 {
  color: blue;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: right;
  color: green;
}

p {
  color: gray;
}

body {
  background-color: orange;
}
img {
  float: left;
  width: 50%
}
  .sidebar {
    width: 50%;
    float: right;
    background color: blue;
}
